<nav class="background">


    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

        <ul class="list">
            <li class="nav-item">
                <button class= "bt">  
                    <a class="nav-link" routerLink="/logout">Logout</a>
          </button>
                
        </ul>
        <h3 class="text">STUDENT ENTRY RECORDS</h3>
        <img class="logo" src="assets/img/logo.jpg">


    </nav>


    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        <div class="container">
            <span>All Rights Reserved <b>@2021</b></span>
        </div>

    </footer>
</nav>